body {
    width: 200px;
}

.outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

form {
    margin-bottom: 10px;
}

input {
    margin-bottom: 5px;
    padding-left: 3px;
}